/* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 32%;
    border-radius: 15px;
}

.column h2 {
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    font-size: 2rem;

}

.column p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear:both;
}

/*Responsive layout - makes the three columns stack on top of each other */
@media screen and (max-width: 600px) {
    .column { 
        width: 100%;
    }
    .about-section p {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .column p {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

}
    .bg-dark {
        background-color: #343a40 !important;
    }
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.navbar-dark .navbar-brand {
    color: #fff;
}

.d-inline-block {
    display: inline-block !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.align-top {
    vertical-align: top !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0px !important;
    background-color: lightgray;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40 !important;
    color: white;
    text-align: center;
}

.navbar-text {
    display: inline-block;
    /* s */
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    /* margin: auto; */
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;

}

.about-section {
    margin-top: -30px;
}

.about-section h2 {
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    font-size: 2rem;
}

.about-section p {
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}

.about-div {
    margin: auto;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;

}

#sticky-footer {
    flex-shrink: none;
}

.text-white-50 {
    colorL rgba(255, 255,0.6) !important;
}

.pb-4,
py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.text-center {
    text-align: center !important;
}

li {
    list-style-type: none;
    margin: 0 2vw;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

a:hover {
    color: #c6e9ff;
}

@media only screen and (max-width: 500px) {
    ul {
        display: none;
    }
    #mobile-nav {
        display: block;
    }

    #mobile-nav ul {
        display: block;
        margin: 0;
        padding: 0;
        display: flex;

    }

    #mobile-nav li {
        list-style-type: none;
        margin: 0 2 vw;
    }
}

.active a {
    color: #fff !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    #mobile-nav {
        display: none;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/*FlexBox Video css */
/* Basic Styling */
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:sans-serif;
    font-size: 16px;
}

nav {
    background: #222;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.menu
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: black;
    padding: 15px 5px
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;

}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: black;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

// Toggle mobile menu
const toggle = document.querySelector('.toggle');
const menu = document.querySelector('.menu');

function toggleMenu () {

}

toggle.addEventListener('click', toggle.menu,false);

function toggle menu () {
    if (menu.classList.contains ('active')) {
        menu.classLast.remove("active");
        toggle.querySelector ("a").innerHtml = "<i class - 'fas fa-bars'></i>"
    }
}

//Submenu
const items = document.querySelectorAll('.item');

function toggleItem () {

}

for (let item of items) {
    if (item.querySelector('.submenu')) {
        item.addEventListener('click', toggleItem, false);
    }
}

for (let item of items) {
    if (items.querySelector('.submenu'))
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;

    }

    .button {
        orderL 2;
    }

    .submenu-active .submenu {
        display: black;
        position: absolute;
        leftL 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;

    }

    .submenu-active {
        border-radius: 0;
    }
}
